@media screen and (min-width: 1281px) {
    section {
        padding: 90px 0;
    }
}

@media screen and (min-width: 1025px) {
    section {
        padding: 80px 0;
    }
}

@media screen and (max-width: 767px) {
    section {
        padding: 60px 0;
    }
}

@media screen and (min-width: 481px) {
    section {
        padding: 70px 0;
    }
}

@media screen and (min-width: 361px) {
    section {
        padding: 60px 0;
    }
}

@media screen and (min-width: 321px) {
    section {
        padding: 50px 0;
    }
}