@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.woff") format("woff"), url("..//fonts/PTSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif Bold';
  src: url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "PT Serif", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
}

.button-container {
  width: 40px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  position: fixed;
}

.float {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  background-color: #0088a9;
  color: #FFF;
}

.float:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.float .my-float {
  padding-top: 22px;
  width: 50px;
  height: 50px;
}

.navigation {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

.navigation .brand-name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.navigation nav {
  list-style: none;
}

.navigation nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

.navigation nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navigation nav ul li a:hover {
  color: #0088a9;
}

.navigation button {
  font-size: 18px;
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}

.navigation button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.intro {
  margin-top: 100px;
}

.intro article {
  margin: 100px 20% 0 20%;
}

.intro article a {
  color: #FFF;
}

.skills {
  margin-top: 200px;
}

.skills i {
  color: #FFF;
}

.skills .flex-container {
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.skills .flex-container .flex-img-1 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 50px;
}

.skills .flex-container .flex-img-2 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 50px;
}

.skills .flex-container .flex-img-3 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 50px;
}

.skills .flex-container .flex-img-4 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.title {
  margin: 30% 35% 40% 35%;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
}

.title p {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.font-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}

.portfolio {
  margin-top: 200px;
}

.portfolio .flex-container {
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.portfolio .flex-container .flex-img-1 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 25px;
}

.portfolio .flex-container .flex-img-1 img {
  width: 350px;
  cursor: pointer;
}

.portfolio .flex-container .flex-img-1 img:hover {
  opacity: 0.6;
}

.portfolio .flex-container .flex-img-1 a {
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-1 a:hover {
  color: #0088a9;
}

.portfolio .flex-container .flex-img-1 p {
  font-size: 18px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-2 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.portfolio .flex-container .flex-img-2 img {
  width: 350px;
  cursor: pointer;
}

.portfolio .flex-container .flex-img-2 img:hover {
  opacity: 0.6;
}

.portfolio .flex-container .flex-img-2 a {
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-2 a:hover {
  color: #0088a9;
}

.portfolio .flex-container .flex-img-2 p {
  font-size: 18px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-3 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-left: 25px;
}

.portfolio .flex-container .flex-img-3 img {
  width: 350px;
  cursor: pointer;
}

.portfolio .flex-container .flex-img-3 img:hover {
  opacity: 0.6;
}

.portfolio .flex-container .flex-img-3 a {
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-3 a:hover {
  color: #0088a9;
}

.portfolio .flex-container .flex-img-3 p {
  font-size: 18px;
  color: #FFF;
}

.portfolio .flex-container .flex-img-4 {
  height: 300px;
  width: 300px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-left: 10px;
  cursor: pointer;
}

.portfolio .flex-container .flex-img-4:hover {
  opacity: 0.6;
}

.portfolio .flex-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: #FEFEFE;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.contact {
  margin-top: 300px;
  margin-bottom: 100px;
  text-align: center;
}

.contact i {
  color: #FFF;
}

.contact .flex-container {
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.contact .flex-container .flex-img-1 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 50px;
}

.contact .flex-container .flex-img-2 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 50px;
}

.contact .flex-container .flex-img-3 {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
/*# sourceMappingURL=main.css.map */